/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Gabarito", sans-serif;
}

/* VARIÁVEIS */
:root {
    --bg-main: rgb(39, 39, 39);
    --bg-header: rgb(0, 39, 65);
    --color-primary: rgb(28, 173, 240);
    --color-text: #ffffff;
}

/* BODY */
body {
    background-color: #323232;
    padding-top: 100px;
    /* espaço pro header fixo */
}

/* HEADER */
header {

    /*Manter Fixo*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    /*Ajustar os Textos*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Detalhamento*/
    padding: 0 50px;
    background-color: var(--bg-header);
    z-index: 1000;
}

/*Logo Principal*/
header .logo a {
    color: var(--color-text);
    font-size: 24px;
    font-weight: bold;
}

/* NAV */
header nav ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

nav ul li a {

    /*Modifica a Cor e Animação da lista*/
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {

    /*Cor da Animação*/
    color: rgb(120, 120, 255);
}

/* SECTION */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* IMAGEM */
section img {

    /*Modifica o Tamanho da imagem*/
    width: 250px;
    height: 250px;
    margin-top: 40px;

    border-radius: 50%;
    object-fit: cover;
}

/* MAIN */
section main {
    width: 100%;
    max-width: 1200px;

    /*Centralizar os Textos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /*Modificar a Borda*/
    background-color: var(--bg-main);
    border: 5px solid rgb(0, 225, 255);
    border-radius: 30px;

    padding: 60px 40px;
    margin: 0 auto;
}

/* TÍTULOS */
section main h1 {
    font-size: clamp(40px, 6vw, 85px);
    color: var(--color-primary);
    margin-bottom: 30px;
}

section main h3 {
    font-size: clamp(28px, 4vw, 50px);
    color: var(--color-text);
    margin-bottom: 20px;
}

section main h3:hover {
    color: rgb(164, 164, 255);
}

/* TEXTO */
section main p {
    font-size: clamp(18px, 2vw, 30px);
    color: var(--color-text);
    max-width: 900px;
    line-height: 1.6;
}

/* FOOTER */
footer {
    margin-top: 60px;
    padding: 30px;
    font-size: 18px;

    text-align: center;
    color: white;
    background-color: black;
}